h2{
    text-align: center;
}
.embedding{
    height :316px;
    justify-content: center;
    display: flex;
    align-items: center;
}
iframe{
    margin: auto;
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color:cornflowerblue;
}
.comment{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    display: flex;
    border-radius: 8px;
    flex-basis: 70%;
    font-weight:300
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 10pt;
    width: 700px;
    height: 107px;
}
label{
    font-size: 16pt;
    font-weight: bold;
}
.col{
    flex:1;
}
.row{
    display: flex;
    align-items: center;
}
.message{
    background-color: #1d61c2;
    width: 20%;
    display: flex;
    margin: 40px;
    height: auto;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
